services:
  
  # Backend API (Node.js)
  backend:
    build: ./backend
    container_name: node_backend
    ports:
      - "3000:5000"
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URI=mongodb://admin:password@mongo:27017/myapp?authSource=admin
      - DATABASE_URI=mongodb://admin:password@mongo:27017/myapp?authSource=admin
      #- REDIS_URL=redis://redis:6379
      - NODE_ENV=development
    depends_on:
      - mongo
    networks:
      - app-network
      #- redis
    

  # Frontend (React via Vite)
  frontend:
    build: ./frontend/vite-project
    container_name: react_frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/vite-project/.env
    #environment:
     # - VITE_API_URL=http://localhost:5000
     # - VITE_CLERK_PUBLISHABLE_KEY=${VITE_CLERK_PUBLISHABLE_KEY}
    networks:
      - app-network


  # Add ngrok service to create a url to use with svix webhooks
  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    restart: unless-stopped
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
    ports:
      - "4040:4040"  # ngrok web interface
    networks:
      - app-network

  # Database (MongoDB)
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  # Cache (Redis)
  #redis:
   # image: redis:alpine
    #container_name: redis_cache
    #ports:
   #   - "6379:6379"
    #networks:
    #  - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:

